@page "/update-password-success"
@layout MedScan.Shared.Layout.AuthLayout
@inject NavigationManager Navigation

<PageTitle>MedScan - Parool uuendatud</PageTitle>



<div class="success-page-container">
    <div class="success-container">
        <div class="success-icon">
            <svg viewBox="0 0 24 24" width="80" height="80" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                <polyline points="22 4 12 14.01 9 11.01"></polyline>
            </svg>
        </div>
        <div class="success-message">Olete edukalt parooli muutnud!</div>
        <div class="redirect-message">Suuname avalehele...</div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(2000);
            Navigation.NavigateTo("/");
        }
    }
}